#albumArtLarge {
	height: 100%;
	min-width: 192px;
	max-width: 247px;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

#album {
	font-size: 12px;
	font-weight: 700;
	color: white;
}

#albumArtist {
	font-weight: 700;
	color: white;
}

.album-details {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: normal;
	text-transform: none;
}

.album-details div {
	display: inline-block;
}