#control {
	height: 90px;
	background-color: #181818;
	border-top: 1px solid #282828;
	padding-left: 16px;
	padding-right: 16px;
}

#control svg {
	fill: #b3b3b3;
}

#control svg:active {
	fill: #b3b3b3 !important;
}

#control svg:hover {
	fill: white;
}

#control button {
	position: relative;
	width: 32px;
	min-width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
}

#songName {
	font-size: 14px;
	color: white;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100%);
}

#artistName {
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100%);
}

#albumArt {
	display: none;
}

#albumArt[src] {
	display: block;
	height: 56px;
	width: 56px;
	margin-right: 14px;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

#playerDetails {
	max-width: 28vw;
	overflow: hidden;
}

#playerControls {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#playerControls > div:first-child {
	flex: 0 1 100%;
}

#volumeSlider {
	width: 93px;
}

#nowPlayingButton.active {
	fill: white;
}

#nowPlayingButton path:first-child {
	d: path('M1 3v9h14V3H1zm0-1h14a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z');
}

#nowPlayingButton path:last-child {
	d: path('M10 8h4v3h-4z');
}

#volumeButton.high-volume path {
	d: path('M12.945 1.379l-.652.763c1.577 1.462 2.57 3.544 2.57 5.858s-.994 4.396-2.57 5.858l.651.763a8.966 8.966 0 00.001-13.242zm-2.272 2.66l-.651.763a4.484 4.484 0 01-.001 6.397l.651.763c1.04-1 1.691-2.404 1.691-3.961s-.65-2.962-1.69-3.962zM0 5v6h2.804L8 14V2L2.804 5H0zm7-1.268v8.536L3.072 10H1V6h2.072L7 3.732z');
}

#volumeButton.medium-volume path {
	d: path('M0 11.032v-6h2.802l5.198-3v12l-5.198-3H0zm7 1.27v-8.54l-3.929 2.27H1v4h2.071L7 12.302zm4.464-2.314q.401-.925.401-1.956 0-1.032-.4-1.957-.402-.924-1.124-1.623L11 3.69q.873.834 1.369 1.957.496 1.123.496 2.385 0 1.262-.496 2.385-.496 1.123-1.369 1.956l-.659-.762q.722-.698 1.123-1.623z');
}

#volumeButton.low-volume path {
	d: path('M10.04 5.984l.658-.77q.548.548.858 1.278.31.73.31 1.54 0 .54-.144 1.055-.143.516-.4.957-.259.44-.624.805l-.658-.77q.825-.865.825-2.047 0-1.183-.825-2.048zM0 11.032v-6h2.802l5.198-3v12l-5.198-3H0zm7 1.27v-8.54l-3.929 2.27H1v4h2.071L7 12.302z');
}

#volumeButton.mute path {
	d: path('M0 5v6h2.804L8 14V2L2.804 5H0zm7-1.268v8.536L3.072 10H1V6h2.072L7 3.732zm8.623 2.121l-.707-.707-2.147 2.147-2.146-2.147-.707.707L12.062 8l-2.146 2.146.707.707 2.146-2.147 2.147 2.147.707-.707L13.477 8l2.146-2.147z');
}

#playButton {
	transition: none 33ms cubic-bezier(.3, 0, .7, 1);
	transition-property: all;
	border: none;
	background-color: white !important;
	position: relative;
	border-radius: 32px;
}

#playButton svg {
	fill: black !important;
}

#playButton:hover {
	transform: scale(1.06);
}

#playButton:active {
	transform: scale(1);
}

#playButton:not(.paused) path {
	d: path("M3 2h3v12H3zM10 2h3v12h-3z");
}

#progressSlider {
	width: 34vw;
}

.time {
	font-size: 11px;
	margin-top: -6px;
	min-width: 40px;
	text-align: center;
}

#queueButton:before {
	content: "\f13a";
	font-size: 16px;
}

#queueButton {
	padding: 0px;
	min-width: 16px !important;
    width: 16px !important;
    height: 16px !important;
	font-family: glue1-spoticon;
	color: #b3b3b3;
}

#queueButton:hover {
	color: white;
}

#queueButton:active {
	color: #b3b3b3 !important;
}

#queueButton.active {
	color: white;
}