#albumArtLarge {
	width: 100%;
	min-width: 192px;
	max-width: 232px;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

#album {
	font-size: 12px;
	font-weight: 700;
	color: white;
}

#albumName {
	font-weight: 900;
	letter-spacing: -.04em;
	color: white;
	padding: 0.08em 0px;
}

#albumArtist {
	font-weight: 700;
	color: white;
}

.album-details {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: normal;
	text-transform: none;
}

.album-details div {
	display: inline-block;
}

.dot::before {
	content: "•";
	margin: 0px 4px;
}

#tableHeader {
	grid-template-columns: [index] 16px [first] 4fr [last] minmax(120px,1fr);
	color: #b3b3b3;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
	display: grid;
	padding: 0 16px;
	grid-gap: 16px;
	margin-bottom: 0.5rem;
}

#tableHeader div {
	height: 32px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: .1em;
}

#title {
	font-size: 12px;
}

#timeIcon {
	justify-self: end;
	margin-right: 32px;
}

.tracklist-row {
	display: grid;
	padding: 0 16px;
	grid-gap: 16px;
	grid-template-columns: [index] 16px [first] 4fr [last] minmax(120px,1fr);
	height: 56px;
	border-radius: 4px;
}

.tracklist-row:hover {
	background-color: hsla(0,0%,100%,.1);
}

.tracklist-row div {
	margin-top: auto;
	margin-bottom: auto;
}

.tracklist-row .track-number .play {
	display: none;
}

.tracklist-row .track-number .play path {
	d: path("M4.018 14L14.41 8 4.018 2z");
	fill: white;
}

.tracklist-row:hover .track-number div {
	display: none;
}

.tracklist-row:hover .track-number .play {
	display: block !important;
}

.track-number {
	font-variant: tabular-nums;
}

.tracklist-row .total-time {
	justify-self: end;
	margin-right: 32px;
	font-variant-numeric: tabular-nums;
    width: 4ch;
	font-size: 14px;
}

.tracklist-row .track-name :first-child {
	color: white;
}

.tracklist-row .track-name :last-child {
	color: #b3b3b3;
	font-size: 14px;
}
