@font-face {
	font-family: spotify-circular;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.afd9ab26.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.2a78c017.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.89e4be2e.ttf) format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.3466e0ec.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.ea8d19db.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.a357677a.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.10e93738.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.7eb7d0f7.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.c21e63c5.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.effa986f.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.ce8ef887.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-arabic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Light.dde45e52.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Light.5c7ed8d8.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Light.f0833f3b.otf) format("opentype");
	font-weight: 200;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-arabic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Book.aaab109b.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Book.3ad862e2.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Book.f0effcd1.otf) format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-arabic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Bold.317e96e5.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Bold.9ddc7126.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Bold.f97cb921.otf) format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-arabic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Black.c32951f4.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Black.05b31ded.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIAraOnly-Black.6d6a4c25.otf) format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-hebrew;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Light.4884da16.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Light.2128eeac.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Light.2e1df62a.otf) format("opentype");
	font-weight: 200;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-hebrew;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Book.cb36b6ec.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Book.ad2b13cd.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Book.fae4aece.otf) format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-hebrew;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Bold.ef043f44.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Bold.9f406804.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Bold.57b36278.otf) format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-hebrew;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Black.217fb21f.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Black.0a11e734.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUIHbrOnly-Black.11abebe4.otf) format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-cyrillic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Light.55fa9f4a.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Light.034997d0.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Light.b10eb959.otf) format("opentype");
	font-weight: 200;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-cyrillic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Book.6a858994.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Book.918c53b8.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Book.15af6ebe.otf) format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-cyrillic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Bold.30dc9fb2.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Bold.909126fc.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Bold.67641b90.otf) format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: spotify-circular-cyrillic;
	src: url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Black.f5526fc4.woff2) format("woff2"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Black.7536a73f.woff) format("woff"), url(https://open.scdn.co/cdn/fonts/CircularSpUICyrOnly-Black.50cd1ca9.otf) format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

body {
	font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #121212;
	color: #b3b3b3;
}

button:focus {
	outline: none;
}

.ui-slider {
	height: 4px !important;
	background: #535353 !important;
	border-radius: 2.7px !important;
	border: none !important;
}

.ui-slider-range-min {
	height: 100% !important;
	background: #b3b3b3 !important;
	border-radius: 2.7px !important;
}

.ui-slider-handle {
	width: 12px !important;
	height: 12px !important;
	border-radius: 12px !important;
	outline: none !important;
	margin-left: -6px !important;
	margin-top: 1px !important;
	background: white !important;
	border: none !important;
	display: none;
}

.centre {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar {
	width: 0px;
}

.simplebar-scrollbar::before {
	background-color: hsla(0, 0% , 100%, .3) !important;
	opacity: 1 !important;
	border-radius: 0px !important;
	transition: background-color .2s !important; 
}

.simplebar-track.simplebar-vertical {
	width: 16px !important;
	margin: 2px !important;
}

.simplebar-scrollbar.simplebar-hover::before {
	background-color: hsla(0, 0% , 100%, .5) !important;
}

#partial #root {
	height: calc(100vh - 90px);
}

#partial.fade {
	transition: opacity 0.2s ease-in;
}

.btn-spotify {
	padding: .375rem .75rem;
	background-color: hsla(0,0%,100%,.1);
	border-radius: 4px;
	transition: background-color .3s ease;
	cursor: pointer;
	color: white;
	border: 0px;
	display: flex;
}

.btn-spotify:hover {
	background: hsla(0,0%,100%,.2);
}

.btn-spotify svg {
	fill: white;
}

#toastNotification {
	opacity: 0;
	min-width: 160px;
	margin-left: -80px;
	background-color: #2e77d0;
	color: white;
	text-align: center;
	border-radius: 8px;
	padding: 10px;
	position: fixed;
	z-index: 99999;
	left: 50%;
	bottom: 110px;
	transition: opacity 0.2s ease-in;
	box-shadow: 0 0 15px rgb(0 0 0 / 100%);
}

#toastNotification.show {
	opacity: 1;
}