.album-container {
	padding: 16px;
	background: #181818;
	border-radius: 4px;
	transition: background-color .3s ease;
	cursor: pointer;
	display: inline-block;
	max-width: 241px;
}

.album-container:hover {
	background: #282828;
}

.album-container .album-art {
	margin-bottom: 16px;
	height: 209px;
	width: 209px;
}

.album-container .title {
	font-size: 16px;
    font-weight: 700;
	color: white;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album-container .artist {
	font-size: 14px;
}

.result-row {
	grid-template-columns: [first] 4fr [last] minmax(120px,1fr);
	height: 56px;
	border: 1px solid transparent;
	border-radius: 4px;
	position: relative;
	display: grid;
	padding: 0 16px;
	grid-gap: 16px;
}

.result-row.active {
	background-color: hsla(0,0%,100%,.1);
}

.result-row:hover {
	background-color: hsla(0,0%,100%,.1);
}

.result-row div {
	margin-top: auto;
	margin-bottom: auto;
}

.result-row div:first-child {
	display: flex;
}

.result-row .artwork {
	margin-left: -8px;
	margin-right: 16px;
}

.result-row .artwork img {
	height: 40px;
	width: 40px;
}

.result-row .details {
	line-height: 18px;
}

.result-row .details div:first-child {
	color: white;
}

.result-row .details div:last-child {
	color: #b3b3b3;
    font-size: 14px;
}

.result-row .total-time {
	justify-self: end;
    font-variant-numeric: tabular-nums;
    width: 4ch;
    font-size: 14px;
}

h2 {
	font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.04em;
    text-transform: none;
	color: white;
}

#clearSearchBar {
	position: absolute;
	top: 31px;
	cursor: pointer;
}